services:
  app:
    build:
      context: ..
      dockerfile: infra/Dockerfile.nvidia_cuda12
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    environment:
      TELEGRAM_API_KEY: ${TELEGRAM_API_KEY}