name: Code linting

on:
  push:
    branches: [ main, develop ]
  pull_request:

jobs:
  code-linting:
    runs-on: ubuntu-latest

    steps:
      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y python3-dev

      - uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Install the project
        run: uv sync --locked --all-extras --dev

      - name: Run tests
        run: uv run pytest tests

      - name: Run Ruff
        run: uv run ruff check --output-format=github

      - name: Run pyright
        run: uv run pyright src

      - name: Run bandit
        run: uv run bandit -r src/